@import "reset";

body {
	background-color: rgb(1, 7, 14);
}

#carousel {
	width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
}

#container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500px;
	height: 60vh;
	margin: 0 20px;
}

#container:hover {
	cursor: pointer;
}

#container:hover i {
	opacity: 1;
}

#image-container {
	margin: 0 auto;
	width: 500px;
	height: 60vh;
}

#image {
	width: 500px;
	height: 100%;
}

i {
	position: absolute;
	background-color: rgb(143, 172, 173);
	opacity: 0;
	color: rgb(255, 255, 255);
	border-radius: 50%;
	padding: 10px;
}

#next-btn {
	right: 0px;
}
